*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.desktop{
    display: flex;
}

.main{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "left-content midder-content right-content"
        "left-content midder-content right-content"
        "left-content midder-content right-content"
        "left-content midder-content right-content";
    height: 1000px;
}

.left-content{
    display: grid;
    grid-area: left-content;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header-left" "main-nav";
    background-color: #021e9b;
    height: 1000px;
    width: 230px;
}

/* left content */

.header-left a{
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    color: #ccc;
}

.header-left{
    height: 84px;
    margin: 16px;
}

.main-nav{
    margin-top: -40%;
    
}

.main-nav li{
    font-size: 24px;
    list-style-type: none;
    margin: 16px 0;
   
}

.main-nav a{
    text-decoration: none;
    color: #ccc;
    margin-left: 24px;
}

.sub-nav{
    margin-top: 56px;
}

.main-nav li:hover a{
    color: white;
}

/* midder content */

.search{
    display: grid;
    grid-template-columns: auto auto auto;
}

.midder-content{
    margin: 16px 16px 0 6px;
    width: 700px;
}

.header-btn-sreach{
    height: 36px;
}

.header-icon-search{
    font-size: 24px;
    margin-right: 16px;
    height: 36px;
}

.header-btn-sreach .header-btn-sreach-btn{
    width: 600px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.header-user{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 30px 30px;
    align-items: center;
}

.header-img-user-midder{
    width: 100px;
}

.header-img-user-midder img{
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.header-content{
    margin-left: 16px;
}

.header-content span{
    font-weight: 600;
}

.header-content p{
    font-size: 24px;
    font-weight: 600;
}

.content-header{
    margin: 24px 0;
}

.content-project{
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px 24px;
}


.content-main{
    font-size: 20px;
    border: 1px solid #ccc;
    border-left-width: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-left-color: #ed5d0c;
    padding: 8px 12px;
}

.content-sub{
    margin-top: 36px;
}

.content-icon ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 46px;
}

.content-icon li{
    list-style: none;
    margin-right: 16px;
}

/* Right content */

.right-content{
    margin: 8px 0;
    margin-left: -35%;
}

.header-icon-bell{
    font-size: 24px;
    margin-right: 16px;
    height: 36px;
    margin-top: px;
}

.header-img-user img{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.right-header{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.header-name{
    font-size: 16px;
    font-weight: 600;
}

.right-btn{
    margin-top: 24px;
}


.right-btn a{
    text-decoration: none;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: aqua;
    padding: 10px 16px;
    border-radius: 30px;
    margin-right: 12px;
}

.right-content-top{
    margin: 52px 0 22px 0;
}

.right-contentt{
    margin-left: 60px;
    width: 160px;
    margin-top: 24px;
}

.contentt{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 214px;
}

.right-content-bot{
    margin-left: 16px;
}

.right-content-mainbot{
    font-size: 20px;
}

.right-content-subbot{
    padding: 24px 0;
    font-size: 20px;
}

.hr{
    width: 180px;
}

.right-header-user{
    display: grid;
    grid-template-columns: 72px auto;
    gap: 12px;
    align-items: center;
    margin: 12px 0;
}

.right-content-bot-trending{
    width: 214px;
}

.right-content-bot{
    margin-top: 24px;

}

.right-header-img-user-midder img{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin:0 16px;
}

.right-header-content {
    font-weight: 600;
}

.right-wrap-two{
    border: 1px solid #ccc;
    border-radius: 10px;
}
